*{
    margin: 0;
    padding: 0;
}
/* shared-css */



/* navber-design */
.navber{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    padding: 20px 0px 20px 0px;
}
/* icon and heading part */
.icon-and-heading-tag{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
/* school lekha ta er property thik koresi */
.heading-title{
    font-weight: 700;
    font-size: 2rem;
}
ul{
   display: flex;
   gap: 20px;
   
}
/* list er full stop bad diyesi and aktu gap diyesi */
.list-navber{
    list-style: none;
    margin-right: 32px;

}
/* navber er niche underline baad dite hobe */
.link-navber1,.link-navber2,.link-navber3,.link-navber4{
    text-decoration: none;
    font-size: 1.2rem;
}

/* navber er alada alada color */
.link-navber1{
   color: orange;
   font-weight: bold;
}
.link-navber2{
   color: skyblue;
   font-weight: 500;
   
}
.link-navber3{
   color:#05d4df;
   font-weight: 500;
}
.link-navber4{
   color: #5d58ef;
   font-weight: 500;
   
}
/* contact button er kaz */
.contact-btn{
    background-color: orange;
    color:white;
    border-radius: 12px;
    height: 50px;
    width: 197px;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
}
/* mobile er jonno navber */
.mobile-navber{
    display: none;
}
/* three-dots er size boro kora */
.three-dots{
    font-size: 26px;
    color: black;
}
/* mobile logo er size */
.mobile-logo{
    height: 46px;
    width: 46x;
      
}
/* banner section */
.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.banner-heading{
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.banner-pera{
    font-size: 1.2rem;
    font-weight: 400;
}
/* Enroll now button er kaz */
.banner-btn{
margin-top:24px ;
margin-bottom: 24px;
height: 50px;
width: 197px;
background-color: black;
border-radius: 12px;
padding: 10px;
font-weight: bold;
font-size: 1.2rem;
color: white;
border: none;
}
.photo-of-banner{
    width: 100%;
}
/* first letter last letter color */
.first-word{
   color: orange;
}
.last-word{
    color: skyblue;
}
/* main body er card design */
.body{
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to bottom, rgba(244, 243, 243, 0.014), rgba(213, 225, 162, 0.7)), 
    url('./assets/bg.png');
    padding-bottom: 60px;
}
/* curriculum-0heading-design */
.standard-curriculum-heading{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.curriculm-card-parent{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.curriculum-child{
    padding: 53px;
    text-align: center;
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.child-background-custom-color1{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.child-background-custom-color2{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curriculum-heading{
    margin-top: 33px;
    margin-bottom: 33px;
 color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
}
.curriculum-des{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;

}
.see-more{
    color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
margin-top: 38px;

}
.read-more-custom1{
    color: orange;
}
.read-more-custom2{
    color: rgb(135, 0, 255);
}
.brakets{
    
    box-sizing: border-box;
    width: 80%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    gap:20px;
}
.less-angle,.right-angle{
    
    border-radius: 30px;
/* Orange */
background: rgb(254, 163, 1);
padding: 15px 20px;
    
    
}
.angle-brackets{
color: rgb(255, 255, 255);
font-family: Font Awesome 5 Free;
font-size: 24px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

/* div2 */
.div2{
    width: 80%;
    margin: 0 auto;
    display: flex
    ;
    justify-content: space-between;
    gap: 40px;
}
/* right-card */
.story-card1{
    box-sizing: border-box;
    height: 630px;
    width: 590px;
    border-radius: 16px;

background: rgb(255, 255, 255);
}
.left-img{
    border-radius:  16px 16px 0px 0px;
    width: 100%;
    height: 60%
}
.button{
position: relative;
margin-top: -30px;
margin-left: 57px;
z-index: 1;
text-align: center;
display: flex;
justify-content:left;

}
.btn-primary{
 border-radius: 47.93px;
 background: rgb(60, 216, 232);
 border: none;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
padding: 10px 20px;
}
.card-heading{
margin-top: 80px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 20px;

color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
}
.card-des{
    margin-left: 30px;
    margin-right: 30px;
    
color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
}

.story-card2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;

}
.story-card-right{
    
    box-sizing: border-box;
width: 290.69px;
height: 301.61px;
border-radius: 16px;

background: rgb(255, 255, 255);
}

.card-img-right{
    border-radius:  16px 16px 0px 0px;
    width: 100%;
    height: 60%
}
.card-heading-right{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;

}
.btn-sec{
    display: flex;
    margin-top: -20px;
    margin-left: 20px;
    
}
.btn-sec-right{
    color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
border-radius: 47.93px;

background: rgb(149, 178, 38);
border: none;
padding: 0px 20px;
}
.btn-sec-right-custom{
    background: rgb(93, 88, 240);
}
.contact-btn1{
    background: rgb(17, 17, 17);
    
}
.contact-btn12{
    text-align: center;
    margin-top: 80px;
}
@media screen and (max-width:576px){

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden; 
    }

    .navber{
        display: none;
    }
    .mobile-navber{
        box-sizing: border-box;
        display: block;
        width:calc(100%-4px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid orange;
        padding: 12px 16px;
    }

    .banner{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    
    }
    .banner-text{
        text-align: center;

    }
    .banner-heading{
       
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .banner-photo{
        margin-bottom: -70px;
    }
    .body-cards{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .body-card2,.body-card3,.body-card4{
        padding: 36px 28px;
        border-radius: 12.77px;
    }
    .main-heading{
       font-size: 1.8rem;
       margin-bottom: -50px;
       margin-top: -30px;
    }
    .icon-heading{
        font-size: 1.1rem;
        margin-top: -22px;
       margin-left: -35px;
        width: 100%;
       
    }
    .icon-des{
    margin-top: -22px;
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 10.22px;
    font-weight: 500;
    line-height: 19.16px;
    letter-spacing: 0%;
    text-align: center;
    }
    .read-more{
color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 10.22px;
font-weight: 700;
line-height: 19.16px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
margin-bottom: 4px;
    }
    .next{
        display: none;
    }
    /* main body er kaz ta korte chai */
    .standard-curriculum-heading{
 color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
margin-top: 40px;
margin-bottom: 22px;
    }
    .curriculm-card-parent{
        flex-direction: column;
        width: 90%;
    }
    .curriculum-child{
        padding: 36px 36px;
        box-sizing: border-box;
border: 0.64px solid rgb(222, 245, 255);
border-radius: 12.77px;
box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);

    }
    .curriculum-heading{
        color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 16.6px;
font-weight: 700;
line-height: 20.75px;
letter-spacing: 0%;
text-align: center;
margin-top: 22px;
margin-bottom: 22px;
    }
.curriculum-des{
color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 10.22px;
font-weight: 500;
line-height: 19.16px;
letter-spacing: 0%;
text-align: center;
margin-top: 22px;
    }
    .see-more{
        margin-top: 22px;
    }
    .brakets{
        display: none;
    }
    .story-card1{
        display: none;
    }
    .div2{
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
       
    }
    .story-card2{
        
        
    }
.story-card-right{
    width: 210.09px;
height: 300.59px;
}
}